@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

/* 
B0F794 Common
8BBDED Uncommon
CB76FA Limited
F8F178 Unique 
*/

* {
  margin: 0rem !important;
  padding: 0rem !important;
}

body {
  font-family: 'Nanum Myeongjo', 'Noto Serif', serif;
  background-color: #292929;
  color: #FFFFFF;
}

.nav-link {
  color: #FFFFFF;
}

.nav-link:hover, .nav-link:focus {
  color: #B1B1B1;
}

#login, #register, #search {
  background-color: #393939;
}

#sidebar, #topbar {
  background-color: #1E1E1E;
}

#sidebar {
  min-width: 20rem;
  max-width: 20rem;
}

#topbar {
  height: 2.5rem;
}

.nav-logo {
  max-height: 4rem;
}

.nav-link {
  font-size: 1.25rem;
  height: 3rem;
}

#logo {
  height: 4rem;
}

.top-button {
  color: #FFFFFF;
}

.nav-item:nth-child(2) {
  border-top: #FFFFFF solid 0.1rem;
  position: sticky;
  top: 4rem;
}

.nav-item:nth-child(3) {
  position: sticky;
  top: 7rem;
}

.nav-item:nth-child(4) {
  border-bottom: #FFFFFF solid 0.1rem;
  position: sticky;
  top: 10rem;
}

.nav-item:nth-child(5) {
  position: sticky;
  height: 30rem;
  top: 13rem;
}

#bg-text {
  background-image: url("/bg_text.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#right {
  position: relative;
}

#right {
  background-image: url("/TitleBackground.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

#overlay {
  background-color: #393939ee;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

main {
  position: relative;
}