@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

/* 
Card Rarity Colors

B0F794 Common
8BBDED Uncommon
CB76FA Limited
F8F178 Unique 
*/

/* UI Styling */
* {
  margin: 0rem !important;
  padding: 0rem !important;
}

body {
  font-family: 'Nanum Myeongjo', 'Noto Serif', serif;
  background-color: #292929;
  color: #FFFFFF;
}

.nav-link {
  color: #FFFFFF;
}

.nav-link:hover, .nav-link:focus {
  color: #B1B1B1;
}

#login, #register, #search {
  background-color: #393939;
}

#sidebar, #topbar {
  background-color: #1E1E1E;
}

#sidebar {
  min-width: 20rem;
  max-width: 20rem;
}

#topbar {
  height: 2.5rem;
}

.nav-logo {
  max-height: 4rem;
}

.nav-link {
  font-size: 1.25rem;
  height: 3rem;
}

#logo {
  height: 4rem;
}

.top-button {
  color: #FFFFFF;
}

.nav-item:nth-child(2) {
  border-top: #FFFFFF solid 0.1rem;
  position: sticky;
  top: 4rem;
}

.nav-item:nth-child(3) {
  position: sticky;
  top: 7rem;
}

.nav-item:nth-child(4) {
  border-bottom: #FFFFFF solid 0.1rem;
  position: sticky;
  top: 10rem;
}

.nav-item:nth-child(5) {
  position: sticky;
  height: 30rem;
  top: 13rem;
}

#bg-text {
  background-image: url("/bg_text.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#right {
  position: relative;
}

#right {
  background-image: url("/TitleBackground.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

#overlay {
  background-color: #393939ee;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

main {
  position: relative;
}

/* Combat Cards */
.cp-card-left,
.cp-card-right {
    text-align: center;
    display: inline-grid;
    grid-template-columns: 15rem;
    gap: 0;
}

.cp-card-left {
    position: relative;
    grid-template-rows: 6.5rem 8.75rem 4.75rem;
}

.cp-link {
    grid-area: 1 / 1 / span 3 / span 1;
}

.cp-title {
    grid-area: 1 / 1 / span 1 / span 1;
    align-self: end;
    font-style: italic;
    margin-bottom: 0.85rem !important;
    transform: rotate(-10deg);
    color: black;
    font-family: 'Noto Serif', serif;
}

.cp-overflow-img {
    grid-area: 2 / 1 / span 1 / span 1;
    overflow: hidden;
    margin-left: 0.25rem !important;
    margin-right: auto !important;
    max-width: 13.25rem;
    transform: rotate(-10deg) skewx(-10deg);
}

.cp-img {
  position: relative;
  width: 15rem;
  bottom: 1rem;
  transform: rotate(10deg) skewx(10deg);
}

.cp-overflow-text {
    grid-area: 3 / 1 / span 1 / span 1;
    overflow: hidden;
    position: relative;
    margin-left: 0.25rem !important;
    margin-right: auto !important;
    max-width: 13.5rem !important;
    max-height: 8rem !important;
    bottom: 1rem;
}

.cp-text-left {
    font-size: 0.75rem;
    margin-top: 1.5rem !important;
    width: 95%;
    transform: rotate(-10deg);
}

.cp-card-right {
    grid-template-rows: 1rem 19rem;
}

.cp-frame {
    grid-area: 1 / 1 / span 2 / span 1;
}

.cp-text-right {
    grid-area: 2 / 1 / span 1 / span 1;
    align-self: center;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 0.75rem;
    width: 80%;
}

.cp-link:hover {
    cursor: pointer;
}