@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

* {
  margin: 0rem !important;
  padding: 0rem !important;
}

body {
  font-family: 'Nanum Myeongjo', 'Noto Serif', serif;
  background-color: #292929;
  color: #FFFFFF;
}

.nav-link {
  color: #FFFFFF;
}

.nav-link:hover, .nav-link:focus {
  color: #B1B1B1;
}

#login, #register, #search {
  background-color: #393939;
}

#sidebar, #topbar {
  background-color: #1E1E1E;
}

#sidebar {
  min-width: 20rem;
  max-width: 20rem;
}

#topbar {
  height: 2.5rem;
}

.nav-logo {
  max-height: 4rem;
}

.nav-link {
  font-size: 1.25rem;
  height: 3rem;
}

#logo {
  height: 4rem;
}

.top-button {
  color: #FFFFFF;
}

.nav-item:nth-child(2) {
  position: sticky;
  top: 4rem;
}

.nav-item:nth-child(3) {
  position: sticky;
  top: 7rem;
}

.nav-item:nth-child(4) {
  position: sticky;
  top: 10rem;
}

.nav-item:nth-child(5) {
  position: sticky;
  height: 30rem;
  top: 13rem;
}

.nav-item:nth-child(6) {
  height: 100rem;
}

.nav-item:nth-child(2), .nav-item:nth-child(3), .nav-item:nth-child(4) {
  background-color: #393939;
}

#bg-text {
  background-image: url("/bg_text.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


